<launch>

  <arg name="remote_machine" default="hsr42" />

  <machine
      name="bjsk"
      address="192.168.101.2"
      user="bjsk"
      env-loader="/home/bjsk/publicWorkspace/dev/ros/indigo/devel/remote_env_loader_$(arg remote_machine).sh"
  />

  <param name="net_resolution" value="656x368" />
  <param name="camera_topic" value="/hsrb/head_rgbd_sensor/rgb/image_rect_color" />

  <node
      machine="bjsk"
      name="openpose_ros_node"
      pkg="openpose_ros"
      type="openpose_ros_node"
  />

</launch>
